<h2>Add only Star Wars ships or die</h2>

<form action="/starships" method="post">

  <label for="name">Name:
    <input type="text" name="name" id="name">
  </label>

  <label for="ship_class">Ship class:
    <input type="text" name="ship_class" id="ship_class">
  </label>

  <label for="location">Location:
    <input type="text" name="location" id="location">
  </label>


  <input class="button" type="submit" name="" value="Submit">
</form>
